* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(fotos/fondo.jpg);
}

.logo {
    width: 4em;
    margin-left: 10px;
}

.menu {
    background: gray;
    width: 100vw;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;
    box-shadow: 5px 0 10px rgba(0, 0, 0, .6);
}

.menu_items {
    display: flex;
    margin-right: 30px;
    list-style: none;
}

.menu_items li {
    border-radius: 3px;
    margin: 0 5px;
}

.menu_items li a {
    padding: 7px 13px;
    text-decoration: none;
    font-size: 18px;
    display: block;
    text-transform: uppercase;
    color: aliceblue;
}

.menu_items li:hover {
    background: rgba(0, 0, 0, .6);
    transition: .5s;
}

.btn_menu {
    display: none;
}

.btn_img {
    width: 4em;
    background: grey;
}

ul.show {
    top: 65px;
}

/* div principal */

.img_principal {
    background-image: url(fotos/fondo.png);
    width: 100vw;
    height: 90vh;
}

.text_principal {
    padding-top: 250px;
    padding-left: 100px;    
}
.principal_h1 {
    font-size: 50px;
}

.principal_p {
    font-size: 30px;
    border-right: .15em solid #18BDEC;
    animation: blink 1s steps(1) infinite;
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 4s steps(38) 1s 1 normal both, blink 1s steps(1) infinite;
}

@keyframes blink {
    50% {
      border-color: transparent;
    }
}

@keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 25%;
    }
}



/* responsive */


/* tablet */

@media screen and (max-width:952px) {
    
    .logo {
        width: 3em;
        margin-left: 5px;
    }

    .menu_items li a {
        font-size: 16px;
    }
}

/* celu */

@media screen and (max-width:858px) {

    .menu {
        height: 65px;
    }

    .logo {
        width: 3em;
        margin-left: 5px;
    }

    .btn_menu {
        display: inline-flex;
    }
    
    .menu_items {
        position: fixed;
        width: 100vw;
        height: calc(100% - 65px);
        background: rgb(59, 57, 57);
        top: -100vh;
        text-align: center;
        transition: all .5s;
        flex-direction: column;
    }

    .menu_items li {
        margin: 30px 0 0 0;
        line-height: 30px;
    }

    .menu_items li:hover {
        background: none;
    }

    .menu_items li a {
        font-size: 20px;
        color: white;
        font-weight: bold;
    }

    .menu_items li a:hover {
        color: rgb(52, 238, 245);
    }

    /* img principal */

    .img_principal {
        background: none;

    }

    .img_responsive_div {
        text-align: center;
        margin-top: 30px;
    }

    .img_responsive {
        width: 60vw;
        height: 40vh;
        border-radius: 800px;
        border: solid white; 
    }

    .text_principal {
        padding-top: 50px;
        padding-left: 80px; 
    }

    .principal_h1 {
        font-size: 30px;
    }
    
    .principal_p {
        font-size: 15px;
        border-right: .15em solid #18BDEC;
        animation: blink 1s steps(1) infinite;
        width: 0;
        overflow: hidden;
        white-space: nowrap;
        animation: typing 4s steps(38) 1s 1 normal both, blink 1s steps(1) infinite;
    }
    
    @keyframes blink {
        50% {
          border-color: transparent;
        }
    }
    
    @keyframes typing {
        from {
          width: 0;
        }
        to {
          width: 60%;
        }
    }


}

@media screen and (max-width: 858px) and (orientation: landscape) {
    .menu_items li {
        margin: 5px 0 0 0;
    }

    .menu_items {
        overflow: scroll;
        height: calc(100% - 65px);
    }
}

