* {
    padding: 0;
}

body {
    background-image: url(fotos/fondo.jpg);
    background-size: cover;
    
}

div {
    margin: 2em;
}

h2 {
    font-size: 2.2em;
}

h3 {
    font-size: 1,9em;
}

p {
    font-size: 1.4em;
    padding: .3em;
}


/* nav */

header {
    background: rgb(114, 131, 127);
    width: 100%;
    height: 4.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;
}

.logo {
    width: 4em;
    height: 4em;
    margin-left: 10px;
}

.menu_items {
    display: flex;
    margin-right: 30px;
    list-style: none;
}

.menu_items li {
    margin: 4em;
    border-radius: 3px;
}

.menu_items li a {
    padding: .5em 1.5em;
    text-decoration: none;
    font-size: 14px;
    display: block;
    text-transform: uppercase;
    color: aliceblue;
}

.menu_items li:hover {
    background: rgb(44, 131, 112);
    transition: .5s;
}

.btn_menu {
    display: none;
}

ul.show {
    height: 4.5em;
}

/* portada */

.portada {
    text-align: center;
    background: rgba(0, 0, 0, .2);
    backdrop-filter: blur(.7em);
    border-radius: 1.1em;
}

.portada_img {
    width: 20em;
    height: 20em;
    border-radius: 50%;
    border: solid 3px white;
    margin-top: 1em;
    size: cover;
}

.text_portada {
    font-size: 2em;
    margin-top: -1em;
}

.text_portada p {
    margin-top: -1.4em;
}

/* sobre mi */

.sobre_mi {
    text-align: center;
    background: rgba(0, 0, 0, .2);
    backdrop-filter: blur(.7em);
    border-radius: 1.1em;
}

/* tecnologia */

.tecnologias {
    text-align: center;
    background: rgba(0, 0, 0, .2);
    backdrop-filter: blur(.7em);
    border-radius: 1.1em;
}

.tec_list {
    display: flex;
}
    

.tec_list li {
    display: grid;
    grid-template-rows: min-content(2em);
    margin: auto;
}


.tec_img {
    width: 5em;
    height: 5em;
    margin-bottom: 1em;
}

.tec_list li img:hover {
    width: 7em;
    height: 7em;
    transition: 2s;
}

 /* proyectos */

.proyectos {
    text-align: center;
    background: rgba(0, 0, 0, .2);
    backdrop-filter: blur(.7em);
    border-radius: 1.1em;
}

.pro_list {
    display: flex;
}

.pro_list li {
    display: grid;
    grid-template-rows: min-content(2em);
    margin: auto;
}

.pro_img {
    width: 8em;
    height: 8em;
    margin-bottom: 1em;

}

.pro_list li a img:hover {
    width: 10em;
    height: 10em;
    transition: 1s;
}

/* contacto */

.contacto {
    text-align: center;
    background: rgba(0, 0, 0, .2);
    backdrop-filter: blur(.7em);
    border-radius: 1.1em;
}

.contact_list {
    display: flex;
}

.contact_list li {
    display: grid;
    grid-template-rows: min-content(2em);
    margin: auto;
}

.contacto_img {
    width: 20em;
    height: 20em;
}

.form {
    font-size: 1.1em;
}

.input {
    width: 20em;
}

.textarea {
    width: 20em;
    height: 8em;
    resize: none;
}

.form_btn {
    width: 22em;
}

/* footer */

footer{
    background: rgb(114, 131, 127);
    width: 100%;
    height: 8.5em;
    display: flex;
}

.footer_list {
    display: flex;
    margin: auto;
    list-style: none;
}

.footer_list li {
    margin-right: 2em;
}


.footer_list li a img {
    width: 4.5em;
    height: 4.5em;
}

/* responsive */

@media screen and (max-width:700px) {

    /* nav-responsive */

    header {
        background: rgb(114, 131, 127);
        width: 100%;
        height: 4.5em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid white;
    }
    
    .logo {
        width: 4em;
        height: 4em;
        margin-left: 10px;
    }
    
    .menu_items {
        display: none;
        width: 100%;
        height: calc(100% - 4.5em);
        background: rgb(59, 57, 57);
        top: -100vh;
        text-align: center;
        transition: all .5s;
        flex-direction: column;
    }

    .menu_items li {
        margin: 30px 0 0 0;
        line-height: 30px;
    }

    .menu_items li:hover {
        background: none;
    }

    .menu_items li a {
        font-size: 20px;
        color: white;
        font-weight: bold;
    }

    .menu_items li a:hover {
        color: rgb(52, 238, 245);
    }

    .btn_menu {
        display: inline-flex;
        width: 2em;
        font-size: 1.5em;
    }

    /* portada */


    .portada_img {
        width: 15em;
        height: 15em;
        border-radius: 50%;
        border: solid 3px white;
        margin-top: 1em;
        size: cover;
    }

    .text_portada {
        font-size: 1em;
        margin-top: -1em;
    }

    .text_portada p {
        margin-top: -1.4em;
    }

    /* tecnologias */
    

    /* contacto-responsive */

    .contacto {
        text-align: center;
        background: rgba(0, 0, 0, .2);
        backdrop-filter: blur(.7em);
        border-radius: 1.1em;
    }

    .contact_list {
        display: block;
    }

    .contact_list li img {
        display: none;
    }
    
    .contact_list li {
        margin: auto;
    }
    
    .form {
        font-size: 1.1em;
    }
    
    .input {
        width: 15em;
    }
    
    .textarea {
        width: 15em;
        height: 8em;
        resize: none;
    }
    
    .form_btn {
        width: 15em;
        margin: auto;
    }

    /* footer */

    footer{
        background: rgb(114, 131, 127);
        width: 100%;
        height: 6em;
        display: flex;
    }
    
    .footer_list {
        display: flex;
        list-style: none;
    }

    .footer_list li {
        display: flex;
        margin: auto;
        padding: .5em;
    }
    
    .footer_list li a img {
        width: 4em;
        height: 4em;
    }

}